
#lightbox{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}


#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#imageContainer{
	padding: 10px;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }


#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color:#FFC;
	margin: 0 auto;
	line-height: 1.4em;
	}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}	
		
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #373737;
	}
	

/* Min-Width */
.lbWidth { /* most browsers */
	position: absolute;
	top: 0px; left: 0px;
	width: 100%;
	min-width: 790px;
	}

* html .lbContent { /* IE6 */
	margin-left: -790px;
	position:relative;
	}

* html .lbMinWidth { /* IE6 */
	padding-left: 790px;
	}
	
	
/* Clearfix */	
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */ 

/* end of image */
.clrBlue {
	color: #00274F;
}

/* -------------------------------------end of image */


/*font size*/
body {font-size:100%; link=white}
h1 {font-size:2.5em}
h2 {font-size:1.875em}


/*font type*/

p.sans-serif{font-family:"Times New Roman",Georgia,Serif}
p.sansserif{font-family:Arial,Verdana,Sans-serif; font-weight:bold}

/*align*/


p {font-size:1.5em}


/*font color */

p{color:#00F}



.font0C{font-size:15px; color:#FFF; font-family:Arial, Helvetica, sans-serif}




.cmdNav{font-size:18px; color:#FFF; font-family:Arial, Helvetica, sans-serif; background-color:#006}


/* used styles */


.row0C{font-size:25px; color:#006; font-family:Georgia, "Times New Roman", Times, serif; background-color:#FFF; font-weight:bold; text-shadow:#000}

.row0C1{font-size:27px; color:#006; font-family:Georgia, "Times New Roman", Times, serif; background-color:#FFF; font-weight:bold; text-shadow:#000}

.row1C{background-color:#006}

.footer {text-align:center;font-size:9px; font-family:Verdana, Geneva, sans-serif; color:#fff; text-decoration:none;}

.footer1 {text-align:center;font-size:9px; font-family:Verdana, Geneva, sans-serif; color:#003; text-decoration:none;}

.navilnks a{font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#FFF; text-decoration:none; font-weight:bold}

.navilnks1 a{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#006; text-decoration:none;}

.navilnks2 a{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#FFF; text-decoration:none;}

.bodyFontH1{font-size:10px; color:#003; font-family:Tahoma, Geneva, sans-serif; background-color:#FFF; font-weight:bold;}

.bodyFontH2{font-size:12px; color:#003; font-family:Tahoma, Geneva, sans-serif; background-color:#FFF; font-weight:bold;}

.bodyFontH{font-size:12px; color:#030; font-family:Tahoma, Geneva, sans-serif; background-color:#FFF;}

.bodyFontErr{font-size:20px; color:#F00; font-family:Tahoma, Geneva, sans-serif; background-color:#FFF; font-weight:bold;}

.bodyFontSav{font-size:20px; color:#003; font-family:Tahoma, Geneva, sans-serif; background-color:#FFF; font-weight:bold;}

.bodyFontSav1{font-size:15px; color:#003; font-family:Tahoma, Geneva, sans-serif; background-color:#FFF; font-weight:bold;}

.fontHist{font-size:12px; color:#003; font-family:Tahoma, Geneva, sans-serif;}

.bodyBG{background-color:#9F6}



.border1{border-style:solid;border-width:2px;}

.borderTop{border-top-style:solid;border-width:2px;}

.borderRight{border-right-style:solid;border-width:2px;}

.borderBottom{border-bottom-style:solid;border-width:2px;}

.borderLeft{border-left-style:solid;}


.borderTopL{border-top-style:solid;border-width:5px; border-color:#666}

.borderRightL{ border-right-style:solid;border-width:2px; border-color:#666}

.borderBottomL{border-bottom-style:solid;border-width:2px; border-color:#666}

.borderBottomLL{border-bottom-style:solid;border-width:thin; border-color:#666}

.borderLeftL{border-left-style:solid;border-width:2px; border-color:#666}


.borderTopL1{border-top-style:solid;border-width:1px; border-color:#CCC}

.borderRightL1{ border-right-style:solid;border-width:1px; border-color:#CCC}

.borderBottomL1{border-bottom-style:solid;border-width:1px; border-color:#CCC}

.borderLeftL1{border-left-style:solid;border-width:1px; border-color:#CCC}


.cellBG{background-color:#99F}

.cellBG1{background-color:#55DFFF}

.cellBG2{background-color:#55DFFF;}

.cellBG3{background-color:#FFC}

.cellBG4{background-color:#9FF}

.cellBG5{background-color:#FC0}

.cellBG6{background-color:#FFF}

.tableH{background-color:#00F}



.HFont1{font-size:12px; color:#FFF; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; text-decoration:none}

.HFont2{font-size:12px; color:#003; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; text-decoration:none}

.HFontTH1{font-size:10px; color:#003; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; text-decoration:none}


.fontEx a{font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#717171;text-decoration:none}

.bgEx{background-color:#F9F9F9}

.splash{background-color:#FFF; font-family:Tahoma, Geneva, sans-serif; font-size:xx-large; color:#33F}


.bodyFP{background-color:#FFF; font-family:Tahoma, Geneva, sans-serif; font-size:16px; color:#030}

.bodyFC{font-size:14px; font-family:Tahoma, Geneva, sans-serif; color:#003}

.navilnksM a{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; font-weight:bold;}

.navilnksM1 a{font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#003; text-decoration:none; font-weight:bold;}

.mous{cursor: pointer;}

.head1{background: #f0f0f0;border: 1px solid white;}

.body1{border: 1px solid gray;}

.MFont0{font-size:14px; color:#000; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; text-decoration:none}



.Mfont2 a{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#30F; text-decoration:none; font-weight:bold}

.MfontI{font-size:14px; color:#003; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; text-decoration:none} 

.pgFont{font-size:14px; color:#FFF; font-family:Tahoma, Geneva, sans-serif; font-weight:bolder}

.botFont{font-size:18px; color:#033; font-family:Tahoma, Geneva, sans-serif; font-weight:bolder}

.botFont5{font-size:18px; color:#033; font-family:Tahoma, Geneva, sans-serif; font-weight:normal}

.botFont1{font-size:20px; color:#033; font-family:Tahoma, Geneva, sans-serif; font-weight:bolder}

.botFont2{font-size:14px; color:#033; font-family:Tahoma, Geneva, sans-serif;}

.botFont3{font-size:20px; color:#033; font-family:Tahoma, Geneva, sans-serif;}

.botFont4{font-size:xx-small; color:#033; font-family:Tahoma, Geneva, sans-serif;}

.navilnksB a{font-size:13px; font-family:Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold}

.navilnksMP1 a{font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#003; text-decoration:none; font-weight:bold;}

.navilnksMP11 a{font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#063; text-decoration:none; font-weight:bold;}

.navilnksMP12 a{font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#063; text-decoration:none; font-weight:normal; text-align:center}

.MFont1{font-size:14px; color:#063; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; text-decoration:none}


.botFontlog1{font-size:18px; color:#003; font-family:Tahoma, Geneva, sans-serif; font-weight:bolder}
.botFontlog2{font-size:14px; color:#003; font-family:Tahoma, Geneva, sans-serif; }
.bordertoplog1{border-top-style:solid;border-width:thick; border-color:#F00}
.borderbottomlog1{border-top-style:solid;border-width:thick; border-color:#F00}
.prodfontmict1 a{font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#FFF; text-decoration:none; font-weight:bold;}
.footermict {text-align:center;font-size:9px; font-family:Verdana, Geneva, sans-serif; color:#FFF; text-decoration:none;}
.navilnkspanmict a{font-size:12px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#003; text-decoration:none; font-weight:bold;}
.fontprodhead1{font-size:10px; color:#09F; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; text-decoration:none}

.cellbgprod{background-color:#0CF}